<div class="article">
    <div class="oneblog">
        <div class="bltitle">
            <span class="artype">原</span>
            <h1>微信小程序开发指南</h1>
        </div>
        <div class="arinfo">
            <span class="artime">2018年7月19日 15:30</span>
            <span class="arnum">阅读量：100</span>
        </div>
    </div>
    <div class="sidebar">
        <div class="aboutme">
            <div class="tou">
                <img src="/images/lzs.jpg" alt="">
            </div>
            <p class="abname">
                Taiyi Li | 李泰毅
            </p>
            <p class="abposition">
                Web前端
            </p>
            <p class="abschool">
                CQUPT | 重庆邮电大学
            </p>
            <p class="absummary">
                个人简介个人简介个人简介个人简介个人简介个人简介个人简介
                个人简介个人简介个人简介个人简介个人简介个人简介个人简介
            </p>
        </div>
        <div class="search bar">
            <form>
                <input type="text" placeholder="请输入搜索内容" name="cname">
                <button type="submit"></button>
            </form>
        </div>
        <div class="cloud">
            <h2 class="cloudtitle">标签云</h2>
            <div class="clouds">
                <a href="#" class="l1">HTML</a>
                <a href="#" class="r1">CSS</a>
                <a href="#" class="l2">JS</a>
                <a href="#" class="r2">Vue</a>
                <a href="#" class="l3">Node.js</a>
                <a href="#" class="r3">BootStrap</a>
                <a href="#" class="l4">React</a>
                <a href="#" class="r4">JQuery</a>
            </div>
        </div>
        <div class="ranking">
            <h2 class="cloudtitle">浏览排行</h2>
            <ul>
                <li>
                    <img src="/images/v1.jpg" alt="">
                    <div class="rankings">
                        <a href="#" class="rkTitle">网页中图片属性固定宽度，如何用js改变大小</a>
                        <span class="rknum">浏览100</span>
                    </div>

                </li>
                <li>
                    <img src="/images/v1.jpg" alt="">
                    <div class="rankings">
                        <a href="#" class="rkTitle">网页中图片属性固定宽度，如何用js改变大小</a>
                        <span class="rknum">浏览100</span>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>