<div class="shutter">
    <div class="shutter-img">
        <a href="#" data-shutter-title="Iron Man"><img src="images/shutter_1.jpg" alt="#"></a>
        <a href="#" data-shutter-title="Super Man"><img src="images/shutter_2.jpg" alt="#"></a>
        <a href="#" data-shutter-title="The Hulk"><img src="images/shutter_3.jpg" alt="#"></a>
        <a href="#" data-shutter-title="The your"><img src="images/shutter_4.jpg" alt="#"></a>
    </div>
    <ul class="shutter-btn">
        <li class="prev"></li>
        <li class="next"></li>
    </ul>
    <div class="shutter-desc">
        <p>Iron Man</p>
    </div>
</div>

<div class="article">
    <div class="blog">
        <li>
            <span class="blogpic">
                <a href="/blog/blogs">
                    <img src="images/ar01.jpg" alt="">
                </a>
            </span>
            <h3 class="blogtitle">
                <a href="/blog/blogs">如何正确操作</a>
            </h3>
            <div class="bloginfo">
                <p>用最简单的代码，实现瀑布流布局，没有繁琐的css，没有jq，
                    只需要做到以下就可以实现瀑布流的效果。思路很简单，
                    看成是三列布局，分别用三个ul来调用。帝国cms列表模板
                </p>
            </div>
            <div class="auto">
                <span class="lm">
                    <a href="#" title="css" target="_blank" class="classname">css</a>
                </span>
                <span class="datetime">2018/7/18</span>
                <span class="viewnum">浏览（10）</span>
                <span class="readmore"><a href="/blog/blogs">阅读原文</a></span>
            </div>
        </li>
        <li>
            <span class="blogpic">
                <a href="#">
                    <img src="images/ar01.jpg" alt="">
                </a>
            </span>
            <h3 class="blogtitle">
                <a href="#">如何正确操作</a>
            </h3>
            <div class="bloginfo">
                <p>用最简单的代码，实现瀑布流布局，没有繁琐的css，没有jq，
                    只需要做到以下就可以实现瀑布流的效果。思路很简单，
                    看成是三列布局，分别用三个ul来调用。帝国cms列表模板
                </p>
            </div>
            <div class="auto">
                <span class="lm">
                    <a href="#" title="css" target="_blank" class="classname">css</a>
                </span>
                <span class="datetime">2018/7/18</span>
                <span class="viewnum">浏览（10）</span>
                <span class="readmore"><a href="#">阅读原文</a></span>
            </div>
        </li>
        <li>
            <span class="blogpic">
                <a href="#">
                    <img src="images/ar01.jpg" alt="">
                </a>
            </span>
            <h3 class="blogtitle">
                <a href="#">如何正确操作</a>
            </h3>
            <div class="bloginfo">
                <p>用最简单的代码，实现瀑布流布局，没有繁琐的css，没有jq，
                    只需要做到以下就可以实现瀑布流的效果。思路很简单，
                    看成是三列布局，分别用三个ul来调用。帝国cms列表模板
                </p>
            </div>
            <div class="auto">
                <span class="lm">
                    <a href="#" title="css" target="_blank" class="classname">css</a>
                </span>
                <span class="datetime">2018/7/18</span>
                <span class="viewnum">浏览（10）</span>
                <span class="readmore"><a href="#">阅读原文</a></span>
            </div>
        </li>
        <li>
            <span class="blogpic">
                <a href="#">
                    <img src="images/ar01.jpg" alt="">
                </a>
            </span>
            <h3 class="blogtitle">
                <a href="#">如何正确操作</a>
            </h3>
            <div class="bloginfo">
                <p>用最简单的代码，实现瀑布流布局，没有繁琐的css，没有jq，
                    只需要做到以下就可以实现瀑布流的效果。思路很简单，
                    看成是三列布局，分别用三个ul来调用。帝国cms列表模板
                </p>
            </div>
            <div class="auto">
                <span class="lm">
                    <a href="#" title="css" target="_blank" class="classname">css</a>
                </span>
                <span class="datetime">2018/7/18</span>
                <span class="viewnum">浏览（10）</span>
                <span class="readmore"><a href="#">阅读原文</a></span>
            </div>
        </li>
        <li>
            <span class="blogpic">
                <a href="#">
                    <img src="images/ar01.jpg" alt="">
                </a>
            </span>
            <h3 class="blogtitle">
                <a href="#">如何正确操作</a>
            </h3>
            <div class="bloginfo">
                <p>用最简单的代码，实现瀑布流布局，没有繁琐的css，没有jq，
                    只需要做到以下就可以实现瀑布流的效果。思路很简单，
                    看成是三列布局，分别用三个ul来调用。帝国cms列表模板
                </p>
            </div>
            <div class="auto">
                <span class="lm">
                    <a href="#" title="css" target="_blank" class="classname">css</a>
                </span>
                <span class="datetime">2018/7/18</span>
                <span class="viewnum">浏览（10）</span>
                <span class="readmore"><a href="#">阅读原文</a></span>
            </div>
        </li>
    </div>
    <div class="sidebar">
        <div class="aboutme">
            <div class="tou">
                <img src="/images/lzs.jpg" alt="">
            </div>
            <p class="abname">
                Taiyi Li | 李泰毅
            </p>
            <p class="abposition">
                Web前端
            </p>
            <p class="abschool">
                CQUPT | 重庆邮电大学
            </p>
            <p class="absummary">
                个人简介个人简介个人简介个人简介个人简介个人简介个人简介
                个人简介个人简介个人简介个人简介个人简介个人简介个人简介
            </p>
        </div>
        <div class="search bar">
            <form>
                <input type="text" placeholder="请输入搜索内容" name="cname">
                <button type="submit"></button>
            </form>
        </div>
        <div class="cloud">
            <h2 class="cloudtitle">标签云</h2>
            <div class="clouds">
                <a href="#" class="l1">HTML</a>
                <a href="#" class="r1">CSS</a>
                <a href="#" class="l2">JS</a>
                <a href="#" class="r2">Vue</a>
                <a href="#" class="l3">Node.js</a>
                <a href="#" class="r3">BootStrap</a>
                <a href="#" class="l4">React</a>
                <a href="#" class="r4">JQuery</a>
            </div>
        </div>
        <div class="ranking">
            <h2 class="cloudtitle">浏览排行</h2>
            <ul>
                <li>
                    <img src="/images/v1.jpg" alt="">
                    <div class="rankings">
                        <a href="#" class="rkTitle">网页中图片属性固定宽度，如何用js改变大小</a>
                        <span class="rknum">浏览100</span>
                    </div>

                </li>
                <li>
                    <img src="/images/v1.jpg" alt="">
                    <div class="rankings">
                        <a href="#" class="rkTitle">网页中图片属性固定宽度，如何用js改变大小</a>
                        <span class="rknum">浏览100</span>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>


<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/velocity.js"></script>
<script src="/javascripts/shutter.js"></script>
<script>
    $(function () {
        $('.shutter').shutter({
            shutterW: 1200, // 容器宽度
            shutterH: 358, // 容器高度
            isAutoPlay: true, // 是否自动播放
            playInterval: 3000, // 自动播放时间
            curDisplay: 3, // 当前显示页
            fullPage: false // 是否全屏展示
        });
    });


</script>

