<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}-Tarry Blog</title>
      <link rel="stylesheet" href="/stylesheets/reset.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/shutter.css">
  </head>
  <body>
  <header>
      <div class="top">
          <div class="top-inner">
              <div class="logo">
                  <a href="/">我的个人博客</a>
              </div>
              <div class="nav">
                  <ul>
                      <li><a href="/">首页</a></li>
                      <li><a href="/blog">博客</a></li>
                      <li><a href="/edit">写博客</a></li>
                      <li><a href="/login">登录</a>/<a href="/reg">注册</a></li>
                      <li><a href="#">关于我</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </header>
  <div class="bigbody">
      {{{body}}}
  </div>
  <footer>
      <p>Power by Tarry</p>
  </footer>
  </body>
</html>
